if TARGET_LX2160ARDB_INTERPOSER

config SYS_BOARD
	default "lx2160ardb_interposer"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "lx2160ardb_interposer"

endif
