// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * NXP LA1224RDB device tree source
 *
 * Copyright 2020-2023, 2025-2026 NXP
 *
 */

/dts-v1/;

#include "fsl-lx2160a.dtsi"

&dpmac3 {
	status = "okay";
	phy-handle = <&aquantia_phy1>;
	phy-connection-type = "usxgmii";
};

&dpmac4 {
	status = "okay";
	phy-handle = <&aquantia_phy2>;
	phy-connection-type = "usxgmii";
};

&dpmac17 {
	status = "okay";
	phy-handle = <&rgmii_phy1>;
	phy-connection-type = "rgmii-id";
};

&emdio1 {
	status = "okay";
	rgmii_phy1: ethernet-phy@1 {
		/* AR8035 PHY - "compatible" property not strictly needed */
		compatible = "fsl,ls-mdio";
		reg = <0x3>;
		/* Poll mode - no "interrupts" property defined */
	};
	aquantia_phy1: ethernet-phy@4 {
		/* AQR107 PHY - "compatible" property not strictly needed */
		compatible = "ethernet-phy-ieee802.3-c45";
		interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
		reg = <0x8>;
	};
	aquantia_phy2: ethernet-phy@5 {
		/* AQR107 PHY - "compatible" property not strictly needed */
		compatible = "ethernet-phy-ieee802.3-c45";
		interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
		reg = <0x0>;
	};
};

&emdio2 {
	status = "okay";
	inphi_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-id0210.7440";
		reg = <0x0>;
	};
};

&fspi {
	status = "okay";

	mt35xu512aba0: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <0>;
		spi-rx-bus-width = <8>;
		spi-tx-bus-width = <1>;
	};

	mt35xu512aba1: flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		spi-max-frequency = <50000000>;
		reg = <1>;
		spi-rx-bus-width = <8>;
		spi-tx-bus-width = <1>;
	};
};

&esdhc0 {
	status = "okay";
};

&esdhc1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	bootph-all;
};

&i2c3 {
	status = "okay";

	rtc@51 {
		compatible = "nxp,pcf2127";
		reg = <0x51>;
	};
};

&sata0 {
	status = "okay";
};

&sata1 {
	status = "okay";
};

&sata2 {
	status = "okay";
};

&sata3 {
	status = "okay";
};

&uart0 {
        status = "okay";
};

&uart1 {
        status = "okay";
};
