CONFIG_ARM=y
CONFIG_TARGET_LX2160ARDB=y
CONFIG_SYS_PEB_BOOT=y
CONFIG_SYS_TEXT_BASE=0x20100000
CONFIG_DEFAULT_DEVICE_TREE="fsl-lx2160a-rdb"
CONFIG_DM=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_OF_STDOUT_VIA_ALIAS=y
CONFIG_BOOTDELAY=-1
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttyS1,115200 root=/dev/ram0 earlycon=uart8250,mmio,0x21c0600 ramdisk_size=0x2000000 default_hugepagesz=2m hugepagesz=2m hugepages=256"
# CONFIG_CMD_IMLS is not set
CONFIG_CMD_GREPENV=y
CONFIG_CMD_GPT=y
CONFIG_CMD_CACHE=y
CONFIG_OF_CONTROL=y
CONFIG_DM_SERIAL=y
CONFIG_ARCH_LX2160A_EMU_COMMON=y
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_SYS_FSL_DDR_PHY is not set
CONFIG_SYS_PHY_GEN2_DDR_PHY=y
CONFIG_SYS_MALLOC_F_LEN=0x5000
